#AttendanceGrid {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1rem;
    padding-top: 1rem;
}
#AttendanceGrid > div:first-child {
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}
#AttendanceGrid > div:first-child > div:last-child {
    text-align: right;
}